* {
    font-family: "Aestetico Formal Regular", "Helvetica", sans-serif;
    width: 95%;
    margin-left: 2.5%;
}

/* button */
.btn-dec {
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    /* blue */
    background-color: rgb(20, 145, 255);
    border: 1px solid rgb(0, 136, 255);
    color: whitesmoke;
}

/* nav menu */
.nav-menu {
    display: grid;
    grid-template-columns: 1fr 6fr 2fr;
    grid-template-areas:
    "home navigations act-now";
    margin-bottom: 100px;
    margin-top: 25px;
    margin-left: 50px;
}

.nav-menu__home-icon {
    grid-area: home;
}

.nav-menu__home-icon > img {
    width: 100px;
}

.nav-menu__nav, .nav-menu__act-now {
    text-transform: uppercase;
    font-weight: lighter;
    font-size: smaller;
    display: flex;
    align-items: center;
    gap: 25px;
}

.nav-menu__nav {
    grid-area: navigations;
    width: fit-content;
}

.nav-menu__act-now {
    grid-area: act-now;
    gap: 15px;
}

.nav-menu__sign-up.btn-dec {
    padding: 13px 15px 8px 15px;
    max-width: 100px;
}


/* main body */
.main-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "left right";
}

.main-body__text {
    grid-area: left;
}

.main-body__video {
    grid-area: right;
}

.main-body__text-buttons {
    display: flex;
}

.main-title {
    font-weight: 300;
    font-size: 50px;
    opacity: 0.80;
    margin-bottom: 7px;
}

.main-body__text-summary {
    font-size: 22px;
    line-height: 35px;
    opacity: 0.80;
}

.main-body__text-get-started {
    font-size: 8px;
    padding-bottom: 100px;
}

.main-body__text.btn-dec {
    font-size: 18px;
    padding: 13px 25px 8px 25px;
    max-width: 200px;
    margin: 25px 10px 35px 0;
}

.main-body__text.btn-dec.demo {
    /* orange */
    background-color: rgb(249, 179, 49);
    border: 1px solid rgb(253, 174, 28);
}

.main-body__video {
    align-self: center;
}

.main-body__video > iframe {
    width: 540px;
    height: 280px;
    box-shadow: 0 0 5px 5px rgba(201, 201, 201, 0.3);
    padding: 5px;
}


/* branding */
.branding {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "trust"
    "brands";
    padding-bottom: 100px;
    /* light gray */
    border-bottom: 1px solid rgb(222, 222, 222);
}

.branding__trust {
    grid-area: trust;
    font-size: 30px;
    opacity: 0.80;
    text-align: center;
}

.branding__brands {
    grid-area: brands;
}


/* dinobuild */
.dinobuild {
    margin-top: 75px;
    position: relative;
    left: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    text-align: center;
}

.dinobuild__image {
    max-width: 500px;
    margin-bottom: 50px;
}

.dinobuild__title, .dinobuild__text {
    opacity: 0.50;
}

.dinobuild__title {
    font-size: 30px;
    font-weight: 100;
}

.dinobuild__text {
    font-size: 10px;
    font-weight: 550;
    width: 85%;
}

.dinobuild__text > a {
    padding: 0;
    margin-left: 5px;
    color: #69c5e4;
    text-decoration: none;
}

/* .dinobuild__text > a:after, .dinobuild__text > a:before {
    color: #69c5e4;
} */


/* options */
.options {
    opacity: .70;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 70%;
    margin-left: 15%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 3fr 1fr 3fr;
    grid-template-areas:
    "img1 text1 img2 text2 img3 text3";
}

.options img {
    max-width: 75px;
    background-color: red;
}

.options__form-builder-img, .options__payment-img, .options__create-img {
    justify-self: end;
    padding: 0;
    margin: 23px 0;

}

.options__form-builder-text, .options__payment-text, .options__create-text {
    margin: 15px 0;
}

.options div h3 {
    margin-bottom: 0;
    padding-bottom: 5px;
}

.options div p {
    margin-top: 0;
    padding-top: 5px;
}

.options__payment-text a {
    margin-left: 5px;
    color: #69c5e4;
    text-decoration: none;
}


/* get started */
.get-started {
    text-align: center;
    display: grid;
    grid-template-rows: 3fr 2fr 2fr;
    background-color: #57bfe1;
    padding-bottom: 40px;
    padding-top: 40px;
    color: rgb(243, 235, 235);
}

.get-started h1 {
    font-size: 40px;
    font-weight: 400;
    /* background-color: red; */
    margin-bottom: 15px;
    margin-top: 15px;
}

.get-started h3 {
    font-size: 20px;
    font-weight: 400;
    /* background-color: blue; */
    margin-bottom: 25px;
    margin-top: 10px;
}

.get-started__btn.btn-dec {
    max-width: 250px;
    max-height: 50px;
    justify-self: center;
    background-color: rgb(0, 232, 0);
    border: 1px solid rgb(0, 255, 0);
    font-size: 18px;
}
